:root {
  --stats-clues-block-size: 9px;
  --stats-clues-block-padding: 2px;
  --stats-clues-min-width: 57px;
  --stats-table-line-height: 15px;
  --nav-height: 60px;
  /* in rgb components for use in rgba() */
  --bg-correct: 83, 141, 78;
  --bg-wrong-index: 181, 159, 59;
  --bg-wrong: 58, 58, 60;
  --bg-deselect-opacity: 0.5;
}

html {
  background-color: #121212;
  height: 100%;
}

.App {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

body {
  padding: 0%;
  margin: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
}

nav {
  height: var(--nav-height);
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
}

nav h1 {
  margin: auto;
  color: white;
  font-size: 45px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  nav h1 {
    font-size: 38px;
  }
}
@media screen and (max-width: 500px) {
  nav h1 {
    font-size: 28px;
    line-height: 24px;
  }
}

.navButtons {
  display: flex;
  direction: row;
  align-items: center;
  padding: 4px;
}

button#help {
  border: none;
  padding-top: 5px;
  background-color: #121212;
}

button#reset {
  font-weight: bold;
  font-size: 24px;
  padding-top: 3px;
  padding-left: 5px;
}

.memory-button-container {
  display: grid; 
  padding-left: 0.5rem;
  padding-right: 0.5rem; 
  align-content: center; 
  grid-template-columns: 1fr 1fr; 
  column-gap: 0; 
  min-width:10rem;
}

.quordle-button-container {
  display: grid; 
  align-content: center; 
  width: 0.75rem; 
}

.two-by-two-buttons {
  display: grid; 
  padding-left: 0.5rem;
  padding-right: 0.5rem; 
  grid-template-columns: 1fr 1fr; 
  gap: 0; 
}

.memory-button {
  box-sizing: border-box; 
  padding-left: 0.6rem; 
  padding-right: 0.65rem; 
  text-align: center; 
  border-radius: 0.5rem; 
  border-width: 2px; 
  min-width: 2rem;
}

.bg-mem-button-selected {
  background-color: #727278; 
}
.bg-mem-button-deselected {
  background-color: #424248; 
}

.bg-qmem-button-selected {
  background: conic-gradient(rgb(var(--bg-correct)) 90deg, rgb(var(--bg-wrong-index)) 90deg 180deg, rgb(var(--bg-correct)) 180deg 270deg, rgb(var(--bg-wrong)) 270deg);
}
.bg-qmem-button-deselected {
  background: conic-gradient(rgba(var(--bg-correct), var(--bg-deselect-opacity)) 90deg, rgba(var(--bg-wrong-index), var(--bg-deselect-opacity)) 90deg 180deg, rgba(var(--bg-correct), var(--bg-deselect-opacity)) 180deg 270deg, rgba(var(--bg-wrong), var(--bg-deselect-opacity)) 270deg);
}

.content {
  flex: 1;
  overflow: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.game {
  align-items: center;
  padding-top: 10px;
  flex-grow: 1;
}

.board {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.gameRow {
  display: flex;
  min-height: 20px;
  flex-shrink: 1;
  margin: 3px;
}

.gameRow--active {
  min-height: 50px;
}

.letter {
  flex: 33%;
  border: 1px solid grey;
  margin: 5px;
  min-width: 50px;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  cursor: pointer;
}

.letter--correct {
  background-color: rgb(var(--bg-correct));
}
.letter--wrongIndex {
  background-color: rgb(var(--bg-wrong-index));
}
.letter--wrong {
  background-color: rgb(var(--bg-wrong));
}

tr {
  line-height: var(--stats-table-line-height);
}
.possibleWordBg {
  background-color: #008000;
}
.impossibleWordBg {
  background-color: #800000;
}

.groupBg {
  background-color: #202020;
}
.altGroupBg {
  background-color: #404040;
}


td th {
  line-height: var(--stats-table-line-height);
  width: auto;
}

tbody {
  line-height: var(--stats-table-line-height);
}

.stats {
  padding-top: 10px;
  flex-grow: 1;
  overflow-y: auto;
  min-width: 260px;
}

.statTable {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  color: white;
  line-height: var(--stats-table-line-height);
  font-size: var(--stats-table-line-height);
}

.help {
  max-width: 360px;
  font-size: 16px;
  text-align: start;
}

p {
  text-indent: 2em;
}

.cluesColumn {
  min-width: var(--stats-clues-min-width);
}

.cluesContainer {
  display: inline-flex;
  justify-content: space-around;
  min-width: 100%;
  margin-top: 3px;
  margin-bottom: 2px;
}

.clueBox {
  width: var(--stats-clues-block-size);
  height: var(--stats-clues-block-size);
  display: inline-flex;
  border: 0.5px solid white;
}

.clueBox--correct {
  background-color: #68a963;
}

.clueBox--wrongIndex {
  background-color: #f0c105;
}

.clueBox--wrong {
  background-color: #787c7e;
}

.keyboard {
  margin-top: 10px;
  background-color: #121212;
}

.line {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 30px;
  height: 30px;
  margin: 2px;
  border-radius: 3px;
  display: grid;
  place-items: center;
  font-size: 15px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.big {
  min-width: 75px;
  max-width: 22%;
}
.spacebar {
  min-width: 225px;
  max-width: 66%;
}
.disabled {
  background-color: #3a393c;
}
