:root {
  --stats-clues-block-size: 11px;
}

.App {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #121212;
  color: white;
  min-height: 100vh;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
}

nav h1 {
  margin: 0;
  color: white;
  font-size: 45px;
  width: 100vw;
  text-align: center;
}

.helpButton {
  width: 24px;
  height: 24px;
  margin: 12px;
  background-color: #121212;
  border: none;
}

#help-button {
  border: none;
  background-color: #121212;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-content: center;
}

.game {
  align-items: center;
  padding-top: 10px;
  flex-grow: 1;
}

.board {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.gameRow {
  display: flex;
  min-height: 20px;
  flex-shrink: 1;
  margin: 3px;
}

.gameRow.active {
  min-height: 50px;
}

.letter {
  flex: 33%;
  border: 1px solid grey;
  margin: 5px;
  min-width: 50px;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  cursor: pointer;
}

tr {
  line-height: 14px;
  min-height: 0;
  height: 0;
}
.possible {
  background-color: #008000;
}
.impossible {
  background-color: #800000;
}
.groupBg {
  background-color: #202020;
}
.altGroupBg {
  background-color: #606060;
}

td th {
  line-height: 14px;
}

tbody {
  line-height: 14px;
}

.stats {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  min-width: 260px;
}

.statTable {
  table-layout:auto;
  border: 1px solid gray;
  color: white;
  width: 240px;
  font-size: 14px;
}

.help {
  width: 240px;
  font-size: 18px;
  text-align: left;
}

.correct {
  background-color: #538d4e;
}

.wrongIndex {
  background-color: #b59f3b;
}

.wrong {
  background-color: #3a3a3c;
}

.clues.correct {
  background-color: #68a963;
}

.clues.wrongIndex {
  background-color: #f0c105;
}

.clues.wrong {
  background-color: #787c7e;
}

.clueBox {
    width: var(--stats-clues-block-size);
    height: var(--stats-clues-block-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    line-height: var(--stats-clues-block-size);
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    box-sizing: border-box;
    padding-top: 5px;
}

.keyboard {
  margin-top: 10px;
  background-color: #121212;
}

.line {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 30px;
  height: 30px;
  margin: 2px;
  border-radius: 3px;
  display: grid;
  place-items: center;
  font-size: 15px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.big {
  width: 75px;
}
.spacebar {
  width: 225px;
}
.disabled {
  background-color: #3a393c;
}
